@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Error 404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="~/Web/images/banner1.jpg">
    <meta name="keywords"
          content="Bicycle Error Page Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link rel="stylesheet" href="~/weberror/css/style.css" type="text/css" media="all" />
    <link href="~/weberror/css/font-awesome.css" rel="stylesheet">
</head>
<body>
    <section class="w3l-error-61-404">
        <div class="error-61-mian">
            <div class="wrapper">
                <div class="errors-16-top">
                    <div class="errors-16-info">
                        <h3>404 </h3>
                        <p>Axtardığınız səhifə tapılmadı</p>
                        <div class="social-coming-icons">
                            <a href="https://www.facebook.com/profile.php?id=100006595188135" title="Facebook" class="footer-fb">
                                <span class="fa fa-facebook"
                                      aria-hidden="true"></span>
                            </a>
                            <a href="https://twitter.com/zairlizahir" title="Twitter" class="footer-tw">
                                <span class="fa fa-twitter"
                                      aria-hidden="true"></span>
                            </a>
                            <a href="https://zahirzairli.com" title="Google Plus" class="footer-gg">
                                <span class="fa fa-google-plus"
                                      aria-hidden="true"></span>
                            </a>
                            <a href="https://zahirzairli.com" title="Linkedin" class="footer-lin">
                                <span class="fa fa-linkedin"
                                      aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="copyright-footer">
                    <div class="copy-right">
                        <p>
                            © @DateTime.Now.Year . Bütün hüquqlar qorunur| Hazırladı
                            <a href="http://zahirzairli.com/" target="_blank">Zairli Zahir</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
