<footer class="footer">
    <div class="container-fluid clearfix">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block"> © @DateTime.Now.Year | Bütün hüquqlar qorunur</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Hazırladı <a href="https://zahirzairli.com" target="_blank">Zairli Zahir</a></span>
    </div>
</footer>