@using EntityLayer.Concrete
@model List<AppRole>
@{
    ViewData["Title"] = "Index";
    ViewData["Cotroller"] = "AdminRole";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayyout.cshtml";
    var a = 1;
}

<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Vəzifələr </h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Ad</th>
                            <th colspan="2">Parametrlər</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@a</th>
                                <td>@item.Name</td>
                                <td><a href="/Admin/AdminRole/Detail/@item.Id"><i class="fa fa-eye"></i></a></td>
                                <td><a href="/Admin/AdminRole/Delete/@item.Id" class="btn btn-xs btn-outline btn-danger"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                            a++;
                        }
                    </tbody>
                </table>
                <a href="/Admin/AdminRole/NewRole" class="btn btn-outline btn-primary">Yeni vəzifə</a>
                <a class="btn btn-outline btn-danger" href="/Admin/AdminRole/UserRoleList">İstifadəçilərin siyahısı</a>
            </div>
        </div>
    </div>
</div>
