@model EntityLayer.Concrete.AppUser

<li class="nav-item nav-profile">
    <a href="#" class="nav-link">
        <div class="nav-profile-image">
            <img src="~/Web/images/@Model.ImageUrl" alt="profile">
            <span class="login-status online"></span>
        </div>
        <div class="nav-profile-text d-flex flex-column">
            <span class="font-weight-bold mb-2">@Model.NameSurname</span>
            <span class="text-secondary text-small">@Model.PhoneNumber</span>
        </div>
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
    </a>
</li>