<div class="tech-btm widget_social">
	<h4>Sosial media hesablarımız</h4>
	<ul>
		<li>
			<a class="twitter" href="https://www.facebook.com/profile.php?id=100006595188135">
				<i class="fab fa-twitter"></i>
				<span class="count">317K</span> Twitter
			</a>
		</li>
		<li>
			<a class="facebook" href="https://www.facebook.com/profile.php?id=100006595188135">
				<i class="fab fa-facebook-f"></i>
				<span class="count">218k</span> Facebook
			</a>
		</li>
	</ul>
</div>