@model EntityLayer.Concrete.NewsLetter

@{
    ViewData["Title"] = "AddSubscriber";
    ViewData["Cotroller"] = "NewsLetterApiTest";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayyout.cshtml";
}

<h4>Yeni abonəçi</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="AddSubscriber">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mail" class="control-label"></label>
                <input asp-for="Mail" class="form-control" />
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MailStatus" /> @Html.DisplayNameFor(model => model.MailStatus)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Əlavə et" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Siyahı</a>
</div>

