<div class="footer-cpy text-center">
    <div class="footer-social">
        <div class="copyrighttop">
            <ul>
                <li class="mx-3">
                    <a class="facebook" href="https://www.facebook.com/profile.php?id=100006595188135">
                        <i class="fab fa-facebook-f"></i>
                        <span>Facebook</span>
                    </a>
                </li>
                <li>
                    <a class="facebook" href="https://www.facebook.com/profile.php?id=100006595188135">
                        <i class="fab fa-twitter"></i>
                        <span>Twitter</span>
                    </a>
                </li>
                <li class="mx-3">
                    <a class="facebook" href="https://www.facebook.com/profile.php?id=100006595188135">
                        <i class="fab fa-google-plus-g"></i>
                        <span>Google+</span>
                    </a>
                </li>
                <li>
                    <a class="facebook" href="https://www.facebook.com/profile.php?id=100006595188135">
                        <i class="fab fa-pinterest-p"></i>
                        <span>Pinterest</span>
                    </a>
                </li>
            </ul>

        </div>
    </div>
    <div class="w3layouts-agile-copyrightbottom">
        <p>
            © @DateTime.Now.Year Weblog. Bütün hüquqlar qorunur| Hazırladı <a href="https://zahirzairli.com/">Zairli Zahir</a>
        </p>

    </div>
</div>